In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('record.csv')

In [3]:
df.head()

,fever,bodypain,age,runnynose,diffBreath,infectionProp,oxygen_level
0,99.935590,0,74,0,0,0,46
1,99.456467,0,41,1,1,1,63
2,98.090342,1,69,0,0,1,54
3,101.086844,1,24,1,0,1,69
4,99.695953,1,28,1,-1,1,69

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          1050 non-null   float64
 1   bodypain       1050 non-null   int64
 2   age            1050 non-null   int64
 3   runnynose      1050 non-null   int64
 4   diffBreath     1050 non-null   int64
 5   infectionProp  1050 non-null   int64
 6   oxygen_level   1050 non-null   int64
dtypes: float64(1), int64(6)
memory usage: 57.5 KB

In [5]:
df.describe()

,fever,bodypain,age,runnynose,diffBreath,infectionProp,oxygen_level
count,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000,1050.000000
mean,99.957072,0.501905,51.142857,0.522857,-0.060000,0.521905,70.218095
std,1.180161,0.500235,28.681123,0.499715,0.821088,0.499758,17.397255
min,98.002781,0.000000,0.000000,0.000000,-1.000000,0.000000,40.000000
25%,98.946599,0.000000,26.000000,0.000000,-1.000000,0.000000,55.000000
50%,99.937016,1.000000,52.000000,1.000000,0.000000,1.000000,70.000000
75%,100.963312,1.000000,76.000000,1.000000,1.000000,1.000000,85.000000
max,101.994766,1.000000,100.000000,1.000000,1.000000,1.000000,100.000000

In [6]:
from sklearn.model_selection import train_test_split
X=df.drop(['infectionProp'],axis='columns')
Y=df['infectionProp']
X

           fever  bodypain  age  runnynose  diffBreath  oxygen_level
0      99.935590         0   74          0           0            46
1      99.456467         0   41          1           1            63
2      98.090342         1   69          0           0            54
3     101.086844         1   24          1           0            69
4      99.695953         1   28          1          -1            69
...          ...       ...  ...        ...         ...           ...
1045   98.252753         1   69          1          -1            63
1046   99.483880         0    0          0          -1            48
1047   98.167019         1   76          0           0            78
1048   98.031240         1    5          0           0            66
1049  100.615968         0   17          1           1            63

[1050 rows x 6 columns]

In [7]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [8]:
X_train

          fever  bodypain  age  runnynose  diffBreath  oxygen_level
771  100.049142         1    3          1          -1            43
804  101.840992         1   32          0           0            64
297   99.663568         0   59          0           0            74
661  100.504081         1   57          0           1            85
534  101.993590         0   28          1           0            65
..          ...       ...  ...        ...         ...           ...
873  101.541659         0   68          1          -1            65
48   100.669417         1   88          0           1            75
301   98.791875         0   72          1           1            69
267   98.352757         1   20          1           1            80
318  101.774917         0   96          1           0            43

[735 rows x 6 columns]

In [9]:
X_test

          fever  bodypain  age  runnynose  diffBreath  oxygen_level
385  101.261150         1   86          0           1            96
883   99.686307         1   72          0           0            60
355  101.480557         0   55          0          -1            76
868  100.851130         0   74          1           1            84
765  100.787136         0   44          0          -1            73
..          ...       ...  ...        ...         ...           ...
443   98.300746         1   89          0          -1            64
309  101.657907         0   33          0           0            90
348  100.960804         0   56          0           1            65
671  101.193791         0   13          1           1            94
158   98.061890         1    8          0           1            53

[315 rows x 6 columns]

In [10]:
X_train=X_train.to_numpy()
X_test=X_test.to_numpy()

In [11]:
Y_train=Y_train.to_numpy()
Y_test=Y_test.to_numpy()

In [12]:
Y_train

array([0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0], dtype=int64)

In [13]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=35)

In [14]:
model.fit(X_train,Y_train)

RandomForestClassifier(n_estimators=35)

In [15]:
infoprob= model.predict_proba([[100,1,45,-1,0,77]])[0][1]
infoprob

0.45714285714285713